* {
  margin: 0;
  padding: 0;
  /* size with be same as declare no matter the padding and border */
  box-sizing: border-box;
}

em,
i {
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  color: #666;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

body {
  font: 12px/1.5 'PT Serif', serif, Microsoft YaHei;
}

/* fix floating problem */
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
